## Import Necessary Libraries for data handling and manipulation

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
# we're gonna save the path in a variable called 'path' - this will allow us to change the file path and perfrom analysis on differernt files
path = "/content/1 to  17 oct in app bb daily.csv"
#use read_csv function to read our csv file
bbdata = pd.read_csv(path)

In [14]:
# display the imported data
bbdata

,Attributed Touch Type,Attributed Touch Time,Install Time,Event Time,Event Name,Event Value,Event Revenue,Event Revenue Currency,Event Revenue INR,Cost Model,...,Is Retargeting,Retargeting Conversion Type,Is Primary Attribution,Attribution Lookback,Reengagement Window,Match Type,User Agent,HTTP Referrer,Original URL,Store Product Page
0,impression,9/19/2021 21:39,9/19/2021 21:44,10/17/2021 23:59,af_first_subscription,"{""af_currency"":""INR"",""af_revenue"":30,""af_order...",30.0000,INR,30.0000,NaN,...,False,NaN,True,1d,NaN,srn,Dalvik/2.1.0 (Linux; U; Android 8.1.0; Redmi Y...,NaN,NaN,NaN
1,click,10/17/2021 23:48,10/17/2021 23:48,10/17/2021 23:51,af_first_subscription,"{""af_currency"":""INR"",""af_revenue"":29,""af_order...",29.0000,INR,29.0000,NaN,...,False,NaN,True,30d,NaN,srn,Dalvik/2.1.0 (Linux; U; Android 11; CPH2001 Bu...,NaN,NaN,NaN
2,click,10/17/2021 23:48,10/17/2021 23:48,10/17/2021 23:51,af_address_add,"{""af_city"":""Noida - Ghaziabad"",""af_content"":""R...",NaN,USD,NaN,NaN,...,False,NaN,True,30d,NaN,srn,Dalvik/2.1.0 (Linux; U; Android 11; CPH2001 Bu...,NaN,NaN,NaN
3,click,10/15/2021 10:40,10/17/2021 9:56,10/17/2021 23:50,af_first_topup,"{""af_currency"":""INR"",""af_content"":[""Idly Dosa ...",299.7044,INR,299.7044,NaN,...,False,NaN,True,30d,NaN,srn,Dalvik/2.1.0 (Linux; U; Android 11; EB2101 Bui...,NaN,NaN,NaN
4,click,10/17/2021 23:05,10/17/2021 23:05,10/17/2021 23:48,af_address_add,"{""af_city"":""Kolkata"",""af_content"":""Animikha Ho...",NaN,USD,NaN,NaN,...,False,NaN,True,30d,NaN,srn,Dalvik/2.1.0 (Linux; U; Android 11; SM-F127G B...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11794,click,10/1/2021 0:10,10/1/2021 0:11,10/1/2021 0:15,af_address_add,"{""af_city"":""Chennai"",""af_content"":""VNR Milford...",NaN,USD,NaN,NaN,...,False,NaN,True,30d,NaN,srn,Dalvik/2.1.0 (Linux; U; Android 11; SM-A505F B...,NaN,NaN,NaN
11795,click,9/18/2021 19:09,9/18/2021 19:10,10/1/2021 0:12,af_first_topup,"{""af_currency"":""INR"",""af_content"":[""Chocolate ...",321.0000,INR,321.0000,NaN,...,False,NaN,True,30d,NaN,srn,Dalvik/2.1.0 (Linux; U; Android 9; Redmi Y2 MI...,NaN,NaN,NaN
11796,click,10/1/2021 0:00,10/1/2021 0:02,10/1/2021 0:08,af_first_subscription,"{""af_currency"":""INR"",""af_revenue"":25,""af_order...",25.0000,INR,25.0000,NaN,...,False,NaN,True,30d,NaN,srn,Dalvik/2.1.0 (Linux; U; Android 9; RMX1833 Bui...,NaN,NaN,NaN
11797,click,10/1/2021 0:00,10/1/2021 0:02,10/1/2021 0:08,af_address_add,"{""af_city"":""Mumbai"",""af_content"":""Vitthal Plaz...",NaN,USD,NaN,NaN,...,False,NaN,True,30d,NaN,srn,Dalvik/2.1.0 (Linux; U; Android 9; RMX1833 Bui...,NaN,NaN,NaN
11798,click,9/30/2021 23:46,9/30/2021 23:47,10/1/2021 0:00,af_first_wallet_recharge,"{""af_currency"":""INR"",""af_revenue"":20}",20.0000,INR,20.0000,NaN,...,False,NaN,True,30d,NaN,srn,Dalvik/2.1.0 (Linux; U; Android 11; M2004J19C ...,NaN,NaN,NaN

as we can observe, therer are almost 12,000 rows and also 59 unique columns - that is a lot of information. For the case of this problem, we are only going to handle the first 5 columns that inlcudes:
- Attributed Touch Type : wherether the touch type was a click or an impression
- Attributed Touch Time	: the time when the touch happened
- Install Time : Time of installation of app/software
-	Event Time : Time when an event took place
-	Event Name : Name of the event that took place in the above mentioned time

In [15]:
# store only the first five columns in a new variable called 'new_bbdata'
new_bbdata = bbdata.iloc[:,0:5] # use iloc to select the first 5 indexes

In [16]:
# lets check the new variable and see if it has all the necessary columns
new_bbdata

,Attributed Touch Type,Attributed Touch Time,Install Time,Event Time,Event Name
0,impression,9/19/2021 21:39,9/19/2021 21:44,10/17/2021 23:59,af_first_subscription
1,click,10/17/2021 23:48,10/17/2021 23:48,10/17/2021 23:51,af_first_subscription
2,click,10/17/2021 23:48,10/17/2021 23:48,10/17/2021 23:51,af_address_add
3,click,10/15/2021 10:40,10/17/2021 9:56,10/17/2021 23:50,af_first_topup
4,click,10/17/2021 23:05,10/17/2021 23:05,10/17/2021 23:48,af_address_add
...,...,...,...,...,...
11794,click,10/1/2021 0:10,10/1/2021 0:11,10/1/2021 0:15,af_address_add
11795,click,9/18/2021 19:09,9/18/2021 19:10,10/1/2021 0:12,af_first_topup
11796,click,10/1/2021 0:00,10/1/2021 0:02,10/1/2021 0:08,af_first_subscription
11797,click,10/1/2021 0:00,10/1/2021 0:02,10/1/2021 0:08,af_address_add
11798,click,9/30/2021 23:46,9/30/2021 23:47,10/1/2021 0:00,af_first_wallet_recharge

## Problem statement

In no particulat order, we want to look at the dataset and gather some insights to help the team at bigbasket make more informed decision to drive their growth and solve key problems that the user face as well as the problem currently occuring at big basket. A good place to start would be the following:

1. Analyze markettting performance in terms of Clicks and impressions
2. We have to analyze events distribution wrt time (pie chart)
3. Event performance analysis wrt time (comparative line chart)
4. And then, We have to analyze installs.

## data pre processing and cleaning

Lets make sure that our dataset does not have any outliers or any missing values. Essentially we want to make sure that we have a clean data before we start working with it.

In [18]:
# use isnull() to turn all misisng / not misisng calues into True or false values. Then use the sum() to get a total number of missing values for each column
new_bbdata.isnull().sum()

Attributed Touch Type    0
Attributed Touch Time    0
Install Time             0
Event Time               0
Event Name               0
dtype: int64

## Simple Descriptive analysis

In [22]:
# lets look at some simple statistics about the dataset usign the descibe function
new_bbdata.describe()

,Attributed Touch Type,Attributed Touch Time,Install Time,Event Time,Event Name
count,11799,11799,11799,11799,11799
unique,2,5324,5316,7699,4
top,click,4/18/2021 22:24,4/18/2021 22:39,10/9/2021 13:37,af_address_add
freq,11209,59,59,9,5664

The First thing we can notice is that there is no mean, median, std deviation, miniumum, maximum or quantiles (25-50-75 percentiles).
Instead we have:
- count : number of entries in each column (this is 11799 for all, since no missing values)
- unique : the number of Unique types of entries in each column.
- top : Indicates the most frequently occurring value within each column.
- frequency : Represents the frequency or count of the top value in each column